html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Font name";
  src: url("../fonts/");
}
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.section {
  width: 1260px;
  height: 425.5px;
  display: flex;
  padding: 64px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.section__txt {
  width: inherit;
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
}
.section__txt h3 {
  color: #151515;
  font-family: system-ui;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section__txt a:hover {
  text-decoration: none;
}
.section__txt button {
  width: 98px;
  height: 38px;
  display: flex;
  padding: 6px 12px;
  align-items: baseline;
  gap: 6px;
  border: none;
  background-color: #FFF;
}
.section__txt button p {
  color: #151515;
  font-family: system-ui;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.carousel {
  width: 1260px;
  height: 222px;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  display: none;
}

.carusel__card {
  width: 369px;
  height: 222px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.carusel__card img {
  position: absolute;
  margin: 174px 161px 0 160px;
}

.person-ava {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.card__tit {
  width: 369px;
  height: 198px;
  border-radius: 12px;
  border: 1px solid #F1F1F1;
  background: #FFF;
  padding: 24px 32px 0 32px;
  position: relative;
}
.card__tit:hover {
  background-color: rgb(212, 212, 212);
  transition: all 0.2s ease;
  cursor: pointer;
}
.card__tit :first-child {
  color: #151515;
  text-align: center;
  font-family: system-ui;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card__tit :nth-child(2) {
  color: #A9A9A9;
  text-align: center;
  font-family: system-ui;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}

a span {
  right: 0;
  left: auto;
}

.carousel-control.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.carousel-control.left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.carousel-inner > .item.active {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card-section {
  width: 1260px;
  padding: 64px 45px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card-section .section__tit {
  display: flex;
  justify-content: space-between;
}
.card-section .section__tit h3 {
  color: #151515;
  font-family: system-ui;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-section .section__tit a:hover {
  text-decoration: none;
}
.card-section .section__tit button {
  width: 98px;
  height: 38px;
  display: flex;
  padding: 6px 12px;
  align-items: baseline;
  gap: 6px;
  border: none;
  background-color: #FFF;
}
.card-section .section__tit button p {
  color: #151515;
  font-family: system-ui;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards {
  height: 332px;
  width: 1170px;
  display: flex;
  gap: 25px;
}
.cards .card {
  display: flex;
  width: 269px;
  height: 323px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #D1D1D1;
  background: #FFF;
}
.cards .card .card__st-bg {
  width: 236px;
  height: 180px;
  background-color: #F9F9F9;
  padding: 12px 0 0 12px;
  text-align: center;
}
.cards .card .card__st-bg p {
  width: 54px;
  height: 18px;
  border-radius: 12px;
  background: #F4F8EC;
  color: var(--c-2-a, #6A983C);
  font-family: system-ui;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card:hover {
  width: 268px;
  height: 332px;
  transition: all 0.2s ease-out;
}

.content .prod-tit {
  color: #151515;
  font-family: system-ui;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.content .prod-info {
  color: #575757;
  font-family: system-ui;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}

.price-button {
  display: flex;
  width: 236px;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}
.price-button p {
  color: #151515;
  font-family: system-ui;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.price-button .btn {
  display: flex;
  height: 36px;
  padding: 12px;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #46760A;
  background: #6A983C;
}
.price-button .btn p {
  color: #FFF;
  font-family: system-ui;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.price-button .btn :active {
  background-color: #7cc673;
}
.price-button button:hover {
  background-color: #7cc673;
  transition: all 0.3s ease;
}/*# sourceMappingURL=main.css.map */